/* CSS Document */
/* ********** Main ************** */
.wrapper { position:relative; }
.right { float:right;}
.left { float:left;}
.LeftMenu{
    margin: 15px 0 20px 0;
}
.w26 { width:26%;}
.w71 { width:71%;}
.skinwidth {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 730px;
}
.top-bar { background:#fafafa; padding:5px 0;border-bottom: 1px solid #eee;}

.stickup { position:relative; z-index:903;}
.NavBar {
   background: #2a2a2a;
}
.NavMenu {
  float:right;
}

.skin-header {
    min-height: 40px;
    background: none repeat scroll 0% 0% #1D2225;
    line-height: 40px;
}
.header-bg {
	padding: 20px 0 0 0;
	position: absolute;
	right: 0;
	left: 0;
}

.header-mid {
	margin:20px 0 0 0;
}
.inner-header-mid { position:relative;}
.nav-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.isStuck .nav-cover {
    opacity:1;
}
.DefaultBackground { background:#0ec6cc;}
.DefaultBorderColor{ border-color:#0ec6cc;}
.DefaultColor  { color:#0ec6cc;}
.MultiColor-bg { background:#0ec6cc; margin:30px 0 30px 0;}
.nav-row {
    position: relative;
}
.innerbanner-position {
	position: relative;
	background: url(images/default-innerbg.jpg) no-repeat 50% 0;
	background-size: cover;
	min-height:300px;
	z-index:4;
}
/* ********** Breadcrumb Style ************** */
.breadcrumb-header {
  background-image: url(../images/breadcrumb-bg.jpg);
  padding: 80px 0 40px;
  margin: -35px 0 0 0;
  background-size: cover;
  background-position: 50% 0;
  text-align:center;
}

.BreadcrumbPane .Normal {
    color: #888;
    font-size: 14px;
    text-align: center;
    letter-spacing: .5px;
}
.page-name {
  text-transform: capitalize;
  color: #333;
  font-weight: 400;
  font-family: Iranian Sans,open sans;
  padding: 0 0 5px 0;
}


.skin-breadcrumb {
	color: #333;
	font-size: 14px;
	text-transform: capitalize;
	padding: 0;
	font-weight:400;
}

.skin-breadcrumb a,
.skin-breadcrumb a:link, 
.skin-breadcrumb a:active,
.skin-breadcrumb a:visited { color:#333;}
.skin-breadcrumb a:hover { text-decoration:underline!important; }
.skin-breadcrumb .fa-home { font-size:18px;}

.dnn-menu {
    margin: 7px 0 0 0;
	float:left;
}
.mycontent { 
	min-height:550px; 
	margin:40px auto 30px; 
}
.full-width-bg {
    background-image: url('../images/full-width-cover.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin: 0 0 40px 0;
	background-position:0 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.full-width-cover { position:absolute; height:100%; width:100%; }
.parallax-bg {
    background-image: url('../images/parallax-bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	background-position:50% 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.menu_box { display:none;}
.skin-footer {
	background: #2d2d2d;
	position: relative;
	z-index: 1;
	padding:0;
}


.footer-bar { min-height:60px; background:#0ec6cc;}
.display-none { display:none;}


/* ********** Logo Style ************** */

.dnn-logo {
    padding:30px 0;
}

.FloatRight .dnn_logo {
    float: right;
    padding:0;
}
.FloatRight .dnn_menu {
    float: left;
    margin: 20px 0 0;
    width: auto;
}
.FloatCenter .dnn_menu {
	width:100%;
	text-align:center;
}
.FloatCenter .dnn_logo {
    padding: 30px 0 15px;
    text-align: center;
}
/* ********** isStuck Style ************** */
.loginstatus.isStuck {
    top: 37px !important;
}
.showControlBar .loginstatus.isStuck{
    top: 55px !important;
}
.isStuck {
	 min-height: 55px;
	 margin:0;
	 opacity: 0.98;
     right: 0px;
	width: 100%;
	z-index:999;
	background: #2A2A2A;
    box-shadow: 0 0 1px #555;
}
.isStuck .top-line {
	margin: 4px 0 0 0;
}
.isStuck .dnn-menu {
	margin: 7px 0px 0px;
}
.isStuck .dnn-logo {
  padding: 5px 0 0 0;
  margin: 0 15px 0 0px;
}
.isStuck .dnn-logo a:after { display:none;}
.isStuck .StandardMenu li div { 
	top:48px;
	margin: -20px 0px 0px;
	padding: 20px 0px 0px;
}
.isStuck .MegaMenu li div { 
	top:48px;
	margin: -20px 0px 0px;
	padding: 20px 0px 0px;
}
.isStuck .StandardMenu ul ul div {
	top: 0;
	padding:0;
}
.isStuck .MegaMenu ul ul div { top:0; padding:0;}
.isStuck .dnn-logo img {
  max-height: 45px;
  padding: 5px;
  margin: 0 0 5px 0;
}

.isStuck .menu_box, 
.isStuck .menu_box:link, 
.isStuck .menu_box:active, 
.isStuck .menu_box:visited { margin:10px 0 0 0;}

.isStuck .skin-search {
    margin: 17px 0px 0px;
}
/* ********** Currentdate Style ************** */
.icon-clock-1 {
    display: inline-block;
    font-size: 16px;
    min-width: 20px;
}
.currentdate { color:#fff; }
.dateicon {
    background: url("images/date_icon.png") no-repeat scroll 0 50% transparent;
    padding: 9px 12px;
}
/* ********** Login Style ************** */
.login-style {
  color: #333;
  padding: 5px 0;
}

.login-style em { padding:0px 0px 0px 5px; font-size:14px;}
.login, 
a.login:link, 
a.login:active, 
a.login:visited { color:#333; font-weight: 500;}
a.login:hover { text-decoration: none; color:#0ec6cc;}

.user, 
a.user:link, 
a.user:active, 
a.user:visited { color:#fff; margin:0 0px 0 10px;}
a.user:hover { text-decoration: none; color:#0ec6cc;}

/* ********** Language Style ************** */
.language-object { display:inline-block; vertical-align:middle;}
.language-object .Language img {
    border: medium none;
    width: 22px;
	margin:0 1px;
}
.language-object .Language.selected img {
    border: 1px solid #FFFFFF;
}

/* ********** Links Style ************** */
.footlins { 
	text-align: left; 
	padding:27px 0 10px 0; 
}
.footlins A, .footlins A:link, .footlins A:visited, .footlins A:active {
    color:#fff;
    font-size: 14px;
    text-transform: capitalize;
}
.footlins A:hover {
    color: #333;
    text-decoration: none;
}
/* ********** Copyright ************** */
.copyright {
    padding:24px 0px 10px 0;
    text-transform: uppercase;
	color:#fff;
	font-weight:300;
}
/* ********** Search Style ************** */
.skin_search {
    position: relative;
    width: 20px;
	display:inline-block;
}
.skin_search .fa-search {
    color: #fff;
    font-size:17px;
	position:relative;
	z-index:999;
	-moz-transition:none;
	-webkit-transition:none;
	-o-transition:none;
}
.skin_search a.active { 
	background:url("images/close.png") no-repeat scroll 0 50% transparent; 
	text-indent:-9999em; 
	display:block;
	height:25px;
}
.skin_search .icon-search:hover { 
	color: #666666; 
	text-decoration:none;
}
.skin-search {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    text-align: center;
    position: relative;
}
.icon-search, .icon-search:link, .icon-search:visited, .icon-search:active {
    text-decoration: none;
    transition: none 0s ease 0s;
    font-size: 18px;
    color: #555;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    text-align: center;
}
.icon-search:hover { text-decoration:none;}
.fa-search.active:before {
  content: "x";
  font-family:Iranian Sans, Verdana, Arial, Helvetica, sans-serif;
  font-size:20px;
}
.shortline {
    color: #555;
    display: inline-block;
    font-size: 16px;
    background: none repeat scroll 0% 0% #333;
    width: 1px;
    height: 20px;
    vertical-align: middle;
    opacity: 0.3;
}
.search_bg 
.searchInputContainer { display:block!important;}
.search_bg ul.searchSkinObjectPreview,
.search_bg .searchInputContainer a.dnnSearchBoxClearText { display:none!important;}

.search_bg {
    height: 35px;
    left: 15px;
    vertical-align: middle;
    margin: 0px;
    background: #FFF none repeat scroll 0% 0%;
    width: 220px;
    display: inline-block;
    text-align: right;
    top: 17px;
    float: left;
    position: relative;
}
.search_bg input[type="text"] {
  background: none repeat scroll 0px 0px transparent;
  color: #999;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  text-align: right;
  vertical-align: top;
  width: 180px;
  transition: all 0.8s ease 0s;
  border: medium none;
  margin: 0;
  padding: 0 10px 0 0;
  text-transform: capitalize;
}

.search_bg .NormalTextBox {
    font-family: Iranian Sans,arial;
    font-size: 14px;
    font-weight: normal;
}
.search_bg a, .search_bg a:link, .search_bg a:active, .search_bg a:visited {
    display: block;
    font-size: 0px;
    height: 35px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    width: 35px;
    background: #0ec6cc url("../images/search_btn.png") no-repeat scroll 50% 50%;
    text-indent: -9999em;
}
.search_bg a:hover { text-decoration:none;}


/* ********** Back to top Style ************** */

element.style {
    display: inline;
}
#goup {
    /*background: none repeat scroll 0 0 #0DB9CC;
    border-radius: 50% 50% 50% 50%;
    bottom: 40px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    opacity: 0.5;
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    padding: 0;
    position: fixed;
    left: 15px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    z-index: 903;
	*/
	bottom:43px;
	
}

.goup a img {
  border-radius: 5px;
  background: #333;
  border: 2px solid #0ec6cc;
}
#top-link:hover { opacity:1;}
#top-link .icon-up-open { font-size:16px;}
/* ********** Pane Style ************** */
.HeaderPane .SubHead {
    color: #ccc;
}
.TopGrid6A,
.TopGrid6B,
.TopGrid4A,
.TopGrid4B,
.TopGrid4C,
.TopGrid3A,
.TopGrid3B,
.TopGrid3C,
.TopGrid3D,
.TopGrid8Left,
.TopGrid4Right,
.TopGrid4Left,
.TopGrid8Right,
.TopGrid9Left,
.TopGrid3Right,
.TopGrid3Left,
.TopGrid9Right,
.MiddleGrid6A,
.MiddleGrid6B,
.MiddleGrid4Left,
.MiddleGrid4Center,
.MiddleGrid4Right,
.MiddleGrid3Left,
.MiddleGrid3CenterA,
.MiddleGrid3CenterB,
.MiddleGrid3Right,
.MiddleGrid8A,
.MiddleGrid4B,
.MiddleGrid4A,
.MiddleGrid8B,
.MiddleGrid9A,
.MiddleGrid3B,
.MiddleGrid3A,
.MiddleGrid9B,
.MiddleGrid12,
.BottomGrid12,
.BottomGrid6A,
.BottomGrid6B,
.BottomGrid4Left,
.BottomGrid4Center,
.BottomGrid4Right,
.BottomGrid3Left,
.BottomGrid3CenterA,
.BottomGrid3CenterB,
.BottomGrid3Right,
.BottomGrid8A,
.BottomGrid4B,
.BottomGrid4A,
.BottomGrid8B,
.BottomGrid9A,
.BottomGrid3B,
.BottomGrid3A,
.BottomGrid9B,
.BottomContent {
	padding-top:10px;
	padding-bottom:10px;
}
.BottomContent { padding-top:50px;}
.FullCenterPane { padding:30px 0 0 0;}
.PaneLayoutMid { margin:10px 0;}
.TopShowPane { padding:0;}
.TopContentPane { 
	padding:20px 0 0px 0; 
	margin:0;
}
.BannerPane {
    padding: 0px;
    margin: 0 0 -35px 0;
    position: relative;
    top: -35px;
    z-index: 10;
}
.BannerPane .dnnActionMenu { top:40px;}
.TopColorPane {
  background-color: #0ec6cc;
  background-image: url("../images/stroke.png" );
  background-repeat: repeat;
  padding:5px 10px;
}

.InnerBannerPane{ 
	padding:0; 
	margin:0;
	position:relative; 
	z-index:1;
}
.InnerBannerPane .Normal img { width:100%;}
.FullWidthPane {
    padding:50px 0 10px 0;
}
.FullWidthPane .CommandButton, .FullWidthPane A.CommandButton:link, .FullWidthPane A.CommandButton:visited, .FullWidthPane A.CommandButton:active {
    color: #FFFFFF;
}
.ColorEdit .CommandButton, .ColorEdit A.CommandButton:link, .ColorEdit A.CommandButton:visited, .ColorEdit A.CommandButton:active {
    color: #FFFFFF;
}
.no-margin { margin:0 !important;}
.ContentPaneHome {
    padding: 10px 0 30px;
}
.ContentPane {
    margin: 10px 0;
    padding: 5px 0 0;
    text-align: right;
    vertical-align: top;
}
.ContentPaneInner {
	margin:0 0 10px 0;
	padding:0;
}
.ParallaxPane { padding:40px 0;}
.ColorContentPane {
    padding:0;
}
.FooterColorPane {
	padding:30px 0;
}
.FooterPane1,
.FooterPane2,
.FooterPane3,
.FooterPane4 {
    margin: 50px 0 20px;
    padding: 0;
}
.LeftSideBar {
    margin: 10px 0 0;
    padding: 5px 0 0;
}
.RightSideBar {     
    margin: 0;
    padding:0;
}
.RightPadding {
    margin: 10px 0 0;
    padding: 5px 0 0;
}



.ColorContentPane .CommandButton, 
.ColorContentPane A.CommandButton:link, 
.ColorContentPane A.CommandButton:visited, 
.ColorContentPane A.CommandButton:active { 
	color:#FFFFFF;
}
.FooterColorPane .CommandButton, 
.FooterColorPane A.CommandButton:link, 
.FooterColorPane A.CommandButton:visited, 
.FooterColorPane A.CommandButton:active { 
	color:#FFFFFF;
}

.FooterSocialPane { margin:10px 0 0 0;}

/*Responsive layout*/
.MobileMenu,
.TreeMenu { display:none }
.menu_hidden { display:none!important; }



/*Responsive layout*/
@media handheld, only screen and (max-width:1024px) {
.isStuck .dnn-logo {
  padding:10px 0px 0 0;
}

}
@media handheld, only screen and (max-width:1023px) {
.search_bg { display:none;}
.NavMenu {
  float: none;
}


}
@media handheld, only screen and (max-width:960px) {
.FloatRight .dnn_logo {
	float: none;
	text-align: center;
}

.FloatRight .dnn_menu {
	float: none;
	margin: 0;
	width: auto;
	text-align: center;
}
.stick .dnn_logo {
	display:none;
}
.stick .dnn_menu {
	float: none;
}

}
@media handheld, only screen and (max-width:900px) {

.innerbanner-position { min-height:200px;}
.breadcrumb-position { top:40px;}
}
@media handheld, only screen and (max-width:800px) {
.StandardMenu ul li a {
	font-size: 12px;
	line-height: 35px;
}
.StandardMenu ul li a span { padding:0 0 15px 0;}

}

@media handheld, only screen and (max-width:767px) {
.BannerPane { top:0;}
.FooterPane1,
.FooterPane2,
.FooterPane3,
.FooterPane4 {
    margin: 20px 0 0px;
    padding: 0;
}

.header .col-sm-6 {
  width: 50%;
  float: right;
}


.LeftBar.right {
    float: none;
    width: 100%;
}
.RightBar.left {
    float: none;
    width: 100%;
}
.nav-cover { opacity:1;}
.isStuck {
  position: relative!important;
  min-height: inherit;
}
.header2 .page-name { font-size:24px;}
.dnn-logo {
  padding:20px 0 20px 0;
}
.TopColorPane { display:none;}
.breadcrumb-header {
  padding: 30px 0;
  margin: 0;
}

.page-name {
    font-size: 22px;
}
}
@media handheld, only screen and (max-width:640px) {

.skin-breadcrumb.left {
  float: none;
  padding: 5px 0;
  text-align: center;
}

.page-name.right {
  float: none;
  text-align: center;
}
.breadcrumb-header {
  padding: 25px 0;
  margin: 0;
}
}
@media handheld, only screen and (max-width:600px) {
.header .col-sm-6 { width:auto; float:none;}
.login-style { text-align:center;}
.BreadcrumbPane .Normal {
	font-size: 13px;
}



.parallax-bg,
.full-width-bg { background-attachment:scroll;}
}
@media handheld, only screen and (max-width:520px) {

.header2 .page-name {
	float: none;
	text-align: center;
	width:auto;
	margin:0;
}
.header2 .page-name .title-line {
	display: block;
	width: 60px;
	margin: 0 auto;
}
.header2 .skin-breadcrumb {
	float: none;
	text-align: center;
	width: auto;
}
.page-name {
  font-size: 18px;
}

}
@media handheld, only screen and (max-width:360px) {
.dnn-logo img{
	max-width: 200px;
}

}
@media handheld, only screen and (max-width:320px) {
}
@media handheld, only screen and (max-width:240px) {
.dnn-logo {
	max-width:150px;
}
}











